---
layout: default
current: home
class: 'home-template'
navigation: True
---
<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer {% if page.cover or site.cover %}" style="background-image:  url({% if page.cover %}{{ page.cover |prepend: site.baseurl | replace: '//','/' }}{% elsif site.cover %}{{ site.cover |prepend: site.baseurl | replace: '//','/' }}{% endif %}) {% else %}no-cover{% endif %}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {% if site.logo %}
                    <!-- <img class="site-logo" src="{{ site.logo | prepend: site.baseurl | replace: '//','/'}}" alt="{{ site.title }}"/> -->
                    {{ site.title }}
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h1>
            <h2 class="site-description">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</h2>
        </div>
        {% include site-nav.html %}
    </div>
</header>

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <div class="post-feed">
          <div class="intro-title">
            Welcome
          </div>
          <div class="intro-content">
            <p>
              Welcome to the school of InfoSecIITR! InfoSecIITR is the information security club of Indian Institute of Technology Roorkee and an enthusiast CTF participant.
            </p>
            <p>
              To know more about us you can check the About page. Notifications about events can be found on the Calendar, else we will post all of our updates news on the Blog or you can check our facebook and twitter pages as well.
            </p>
            <p>
              Also have a look at the tools that we use for CTFs in the Tools page.It includes debuggers, disassemblers and decompilers, file editors, web and networking tools, virtual machines and other miscellaneous tools. Reading material is listed at Resources.
            </p>
            <p>
              Want to add or correct something feel free to contribute!
            </p>
          </div>
        </div>

    </div>
</main>
<style type="text/css">

.post-feed{
  z-index: 4;
  font: inherit;
  font-size: 100%;
  margin: 5%;
  background-color: #ffffff;
  border-radius: 25px;
  border-color: #212121;
  border-style: none groove groove groove;
}

.intro-content{
  padding-top: 3%; 
  padding: 2%;
  border-width: 2px;
}

.intro-title{
  width: 100%;
  text-align: center;
  font-size: 300%;
  padding: 2%;
}
</style>
{{ paginator.posts }}