<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}blog/">Blog</a></li>
    <li class="nav-calendar" role="menuitem"><a href="{{ site.baseurl }}calendar">Calendar</a></li>
    <li class="nav-contact" role="menuitem"><a href="{{ site.baseurl }}tools">Tools</a></li>
    <li class="nav-contact" role="menuitem"><a href="{{ site.baseurl }}resources">Resources</a></li>
	<li class="nav-contact" role="menuitem"><a href="{{ site.baseurl }}contact">Contact</a></li>
</ul>
