<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{ '/' | relative_url}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{ '/about' | relative_url }}">About</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{ 'blog' | relative_url }}">Blog</a></li>
    <li class="nav-calendar" role="menuitem"><a href="{{ 'calendar' | relative_url }}">Calendar</a></li>
    <li class="nav-contact" role="menuitem"><a href="{{ 'tools' | relative_url }}">Tools</a></li>
    <li class="nav-contact" role="menuitem"><a href="{{ 'resources' | relative_url }}">Resources</a></li>
	<li class="nav-contact" role="menuitem"><a href="{{ 'contact' | relative_url }}">Contact</a></li>
</ul>
