---
layout: default
current: post
class: post-template
disqus: false
---

<!-- default -->

<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<header class="site-header outer">
    <div class="inner">
        {% include site-nav.html %}
    </div>
</header>

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <article class="post-full {{ page.subclass }} {% unless page.cover %}no-image{% endunless %}">

            <header class="post-full-header">
                <section class="post-full-meta">
                    <time class="post-full-meta-date" datetime="{{ page.date | date:'%e %B %Y' }}">{{ page.date | date:'%e %B %Y' }}</time>
                    {% if page.tags.size > 0 %}
                        <span class="date-divider">/</span>
                        {% for tag in page.tags %}
                            {% assign tag_url_name = tag | downcase | replace: ' ', '-' %}
                            {% if forloop.index == page.tags.size %}
                               <a href='{{ 'tag/' | append: tag_url_name | relative_url }}'>{{ tag | upcase }}</a>
                            {% else %}
                               <a href='{{ 'tag/' | append: tag_url_name | relative_url }}'>{{ tag | upcase }}</a>,
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </section>
                <h1 class="post-full-title">{{ page.title }}</h1>
            </header>

            {% if page.cover %}
            <figure class="post-full-image" style="background-image: url({{ page.cover | relative_url }})">
            </figure>
            {% endif %}

            <section class="post-full-content">
                <div class="kg-card-markdown">
                    {{ content }}
                </div>
            </section>


            <footer class="post-full-footer">
                <!-- Everything inside the #author tags pulls data from the author -->
                <!-- #author-->
                {% for author in site.data.authors %}
                    {% if author[1].username == page.author %}
                        <section class="author-card">
                            <section class="author-card-content">
                                <h4 class="author-card-name">
                            </section>
                        </section>
                    {% endif %}
                {% endfor %}
                <!-- /author  -->
            </footer>

            <!-- If you use Disqus comments, just uncomment this block.
            The only thing you need to change is "test-apkdzgmqhj" - which
            should be replaced with your own Disqus site-id. -->
            {% if site.disqus or page.disqus %}
                <section class="post-full-comments">
                    <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                            this.page.url = '{{ '/' | absolute_url }}';
                            this.page.identifier = '{{ site.title }}';
                        };
                        (function() {
                            var d = document, s = d.createElement('script');
                            s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                </section>
            {% endif %}

        </article>

    </div>
</main>



<!-- Floating header which appears on-scroll, included from includes/floating-header.hbs -->
{% include floating-header.html %}

<!-- /post -->

<!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs -->
