---
layout: default
current: tag
cover: False
class: 'tag-template'
navigation: True
logo: 'assets/images/small-logo.jpg'
---

<!-- #tag -->
{% assign tag_name = page.tagname | downcase | replace: ' ','-' %}

<header class="site-header outer {% if site.data.tags[tag_name].cover or page.cover %}" style="background-image: url({% if site.data.tags[tag_name].cover %}{{ site.data.tags[tag_name].cover | relative_url }}{% else %}{{ page.cover | relative_url }}{% endif%}) {% else %}no-cover{% endif %}">
    <div class="inner">
        {% include site-nav.html %}
        <div class="site-header-content">
            <h1 class="site-title">{{ site.data.tags[tag_name].name | capitalizeall }}</h1>
            <h2 class="site-description">
                {% if site.data.tags[tag_name].description %}
                    {{ site.data.tags[tag_name].description }}
                {% elsif page.tagname %}
                    A collection of {{ site.tags[tag_name] | size }} posts
                {% endif %}
            </h2>
        </div>
    </div>
</header>
<!-- tag -->

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="post-feed">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            <!-- Required for post-card.html -->
            <!-- takes array os posts as post_arr -->
            {% assign post_arr = site.tags[page.tagname] %}
            {% include post-card.html %}
        </div>
    </div>
</main>